            <div class="filters">

                <div class="select select-area">
                    <div class="number">1</div>
                    <form action="select1.php" method="post">
                        <p><select name="area[]">
                                <option selected>Выберите область</option>
                                <option value="Винницкая область">Винницкая область</option>
                                <option value="Волынская область">Волынская область</option>
                                <option value="Днепропетровская область">Днепропетровская область</option>
                                <option value="Житомирская область">Житомирская область</option>
                                <option value="Закарпатская область">Закарпатская область</option>
                                <option value="Запорожская область">Запорожская область</option>
                                <option value="Ивано-Франковская область">Ивано-Франковская область</option>
                                <option value="Киевская область">Киевская область</option>
                                <option value="Кировоградская область">Кировоградская область</option>
                                <option value="Луганская область">Луганская область</option>
                                <option value="Львовская область">Львовская область</option>
                                <option value="Николаевская область">Николаевская область</option>
                                <option value="Одесская область">Одесская область</option>
                                <option value="Полтавская область">Полтавская область</option>
                                <option value="Ровенская область">Ровенская область</option>
                                <option value="Сумская область">Сумская область</option>
                                <option value="Тернопольская область">Тернопольская область</option>
                                <option value="Харьковская область">Харьковская область</option>
                                <option value="Херсонская область">Херсонская область</option>
                                <option value="Хмельницкая область">Хмельницкая область</option>
                                <option value="Черкасская область">Черкасская область</option>
                                <option value="Черниговская область">Черниговская область</option>
                                <option value="Черновицкая область">Черновицкая область</option>
                            </select></p>
                    </form>
                </div>

                <div class="select select-region">
                    <div class="number">2</div>
                    <form action="select1.php" method="post">
                        <p><select name="region[]">
                                <option selected>Выберите район</option>
                                <option value="Винницкий район">Винницкий район</option>
                                <option value="Гайсинский район">Гайсинский район</option>
                                <option value="Жмеринский район">Жмеринский район</option>
                                <option value="Могилёв-Подольский район">Могилёв-Подольский район</option>
                                <option value="Тульчинский район">Тульчинский район</option>
                                <option value="Хмельникский район">Хмельникский район</option>
                            </select></p>
                    </form>
                </div>
                <div class="select select-city">
                    <div class="number">2</div>
                    <form action="select1.php" method="post">
                        <p><select name="city[]">
                                <option selected>Выберите населенный пункт</option>
                                <option value="Бар">Бар</option>
                                <option value="Бершадь">Бершадь</option>
                                <option value="Винница">Винница</option>
                                <option value="Гайсин">Гайсин</option>
                                <option value="Гнивань">Гнивань</option>
                            </select></p>
                    </form>
                </div>
                <div class="select-buttons">
                    <button class="accept">Поиск</button>
                    <button class="reset">Сброс</button>
                </div>
            </div>