{% extends 'base.html' %}

{% block content %}
    <div class="page-wrapper">
        <div class="filters">
            <div class="select select-area">
                <div class="number">1</div>
                <select name="area" id="areas">
                    <option selected disabled>Выберите область</option>
                    <option value="М&#46;КИЇВ">Город Киев</option>
                    <option value="ВІННИЦЬКА">Винницкая область</option>
                    <option value="ВОЛИНСЬКА">Волынская область</option>
                    <option value="ДНІПРОПЕТРОВСЬКА">Днепропетровская область</option>
                    <option value="ДОНЕЦЬКА">Донецкая область</option>
                    <option value="ЖИТОМИРСЬКА">Житомирская область</option>
                    <option value="ЗАКАРПАТСЬКА">Закарпатская область</option>
                    <option value="ЗАПОРІЗЬКА">Запорожская область</option>
                    <option value="ІВАНО-ФРАНКІВСЬКА">Ивано-Франковская область</option>
                    <option value="КИЇВСЬКА">Киевская область</option>
                    <option value="КІРОВОГРАДСЬКА">Кировоградская область</option>
                    <option value="ЛУГАНСЬКА">Луганская область</option>
                    <option value="ЛЬВІВСЬКА">Львовская область</option>
                    <option value="МИКОЛАЇВСЬКА">Николаевская область</option>
                    <option value="ОДЕСЬКА">Одесская область</option>
                    <option value="ПОЛТАВСЬКА">Полтавская область</option>
                    <option value="РІВНЕНСЬКА">Ровенская область</option>
                    <option value="СУМСЬКА">Сумская область</option>
                    <option value="ТЕРНОПІЛЬСЬКА">Тернопольская область</option>
                    <option value="ХАРКІВСЬКА">Харьковская область</option>
                    <option value="ХЕРСОНСЬКА">Херсонская область</option>
                    <option value="ХМЕЛЬНИЦЬКА">Хмельницкая область</option>
                    <option value="ЧЕРКАСЬКА">Черкасская область</option>
                    <option value="ЧЕРНІВЕЦЬКА">Черновицкая область</option>
                    <option value="ЧЕРНІГІВСЬКА">Черниговская область</option>
                </select>
            </div>
            <div class="select select-region">
                <div class="number">2</div>
                <select name="city" id="city">
                    <option disabled selected>Выберите город</option>
                </select>
            </div>
            <div class="select-buttons">
                <button id="next" class="accept">Поиск</button>
            </div>
        </div>
        <div id="container" class="content">

        </div>
    </div>
    <span>MedDataSearch 2021 Все права защищены</span>
    </div>

    <!-- Scripts and Styles -->
    <style>
        /* ---- particles.js container ---- */
        #particles-js {
            position: absolute;
            width: 100%;
            height: 1450px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }

        /* ---- stats.js ---- */
        .count-particles {
            background: #000022;
            position: absolute;
            top: 48px;
            left: 0;
            width: 80px;
            color: #13E8E9;
            font-size: .8em;
            text-align: left;
            text-indent: 4px;
            line-height: 14px;
            padding-bottom: 2px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
        }

        .js-count-particles {
            font-size: 1.1em;
        }

        #stats,
        .count-particles {
            -webkit-user-select: none;
            margin-top: 5px;
            margin-left: 5px;
        }

        #stats {
            border-radius: 3px 3px 0 0;
            overflow: hidden;
        }

        .count-particles {
            border-radius: 0 0 3px 3px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        /* ---- particles.js config ---- */

        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 100,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#374A59"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#007AE9",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 1,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "grab"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 140,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });
    </script>
{% endblock %}